ul.nav
  li
    a(ui-sref="user-v3-api") UserV3APIService

    a(ui-sref="authorizations") AuthorizationsAPIService

    a(ui-sref="messages-api") MessagesAPIService

    a(ui-sref="final-fixes-api") FinalFixesAPIService

    a(ui-sref="submission-api") SubmissionAPIService

    a(ui-sref="submission-detail-api") SubmissionDetailAPIService

    a(ui-sref="threads-api") ThreadsAPIService

    a(ui-sref="work-api") WorkAPIService


